* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  font-size: 62.5%; /* 10px */
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0 2.4rem;
  background: var(--Grayish-Blue);
  font-family: "Manrope", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  max-width: 32.7rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

#image-container {
  background: url(/images/drawers.jpg);
  width: 100%;
  background-size: cover;
  height: 20rem;
}

.article-container {
  padding: 4.2rem 3.2rem 2.2rem;
  background: var(--Light-Grayish-Blue);
}

h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 1.3rem;
  letter-spacing: 0.3px;
  color: var(--Very-Dark-Grayish-Blue);
}

.article-container p {
  font-size: 1.2rem;
  letter-spacing: 0.7px;
  line-height: 1.6;
  color: var(--Desaturated-Dark-Blue);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--Light-Grayish-Blue);
  padding: 1rem 3.2rem 2rem;
}

.author {
  display: flex;
}

.author img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.about {
  padding-left: 1.5rem;
  align-self: center;
  font-size: 1.1rem;
}

h3 {
  color: var(--Very-Dark-Grayish-Blue);
}

time {
  color: var(--Grayish-Blue);
  font-size: 1.2rem;
}

.arrow {
  background: var(--Light-Grayish-Blue);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  margin-top: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.share {
  display: flex;
  align-items: center;
  position: absolute;
  background: var(--Very-Dark-Grayish-Blue);
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  padding: 0 3.2rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.show {
  visibility: visible;
  opacity: 1;
}

.arrow:hover {
  background: var(--Grayish-Blue);
}

.arrow:active {
  transform: scale(0.98);
}

.share p {
  text-transform: uppercase;
  color: var(--Grayish-Blue);
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  padding-right: 2rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  padding-right: 1.5rem;
}

a img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 875px) {
  main {
    display: flex;
    max-width: 73rem;
    height: 27.7rem;
    overflow: unset;
  }

  #image-container {
    flex: 1;
    border-radius: 1.5rem 0 0 1.5rem;
    overflow: hidden;
    height: 100%;
  }

  section {
    flex: 1.6;
  }

  .article-container {
    padding-left: 4.5rem;
    padding-top: 3.2rem;
    border-top-right-radius: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: inherit;
  }

  footer {
    padding: 0 3.2rem 3.2rem 4.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .arrow {
    margin-right: 0.7rem;
  }

  h3 {
    padding-bottom: 0.3rem;
  }

  .share {
    top: -7.8rem;
    left: 26.8rem;
    height: 5.3rem;
    border-radius: 1rem;
    width: 24.5rem;
    bottom: 10rem;
  }

  .share::after {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    bottom: -0.8rem;
    left: 50%;
    transform: rotate(45deg);
    background-color: var(--Very-Dark-Grayish-Blue);
  }
}

.attribution {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0;
}

.attribution a {
  color: var(--Very-Dark-Grayish-Blue);
}
